var Template = function() { return `<document>
  <head>
    <style>
    .imageWithGradient {
      tv-tint-color: linear-gradient(top, 0.33, transparent, 0.66, rgba(0,64,0,0.7), rgba(0,64,0,1.0));
    }
    .showTextOnHighlight {
      tv-text-highlight-style: show-on-highlight;
    }
    .scrollTextOnHighlight {
      tv-text-highlight-style: marquee-on-highlight;
    }
    .showAndScrollTextOnHighlight {
      tv-text-highlight-style: marquee-and-show-on-highlight;
    }

    </style>
  </head>
  <stackTemplate>
    <collectionList>
      <carousel>
        <section>
          {{ range $key, $element := .Carousel }}
          <lockup template="${this.BASEURL}video/{{$element.Id}}/{{$element.Id}}">
            <img src="${this.NYTStaticBaseURL}{{$element.Image}}" width="1380" height="500"/>
          </lockup>
          {{ end }}
        </section>
      </carousel>
      <shelf>
        <header>
          <title>Latest Videos</title>
        </header>
        <section>
          {{ range $key, $element := .Latest }}
          <lockup template="${this.BASEURL}video/{{$element.Id}}/{{$element.Playlist.Id}}">
            <img src="${this.NYTStaticBaseURL}{{getImage $element.Images 9}}" width="578" height="260" />
            <overlay>
              <subtitle class="showAndScrollTextOnHighlight">{{$element.Section.Display_name}}</subtitle>
            </overlay>
            <title class="showAndScrollTextOnHighlight">{{$element.Headline}}</title>

          </lockup>
          {{ end }}
        </section>
      </shelf>
      <shelf>
        <header>
          <title>Most Popular</title>
        </header>
        <section>
          {{ range $key, $element := .Popular.Results }}
          <lockup template="${this.BASEURL}video/{{$element.Id}}/123">
            <img src="{{getPopularImage $element.Media 0}}" width="578" height="260" />
            <title class="showAndScrollTextOnHighlight">{{$element.Title}}</title>
          </lockup>
          {{ end }}
        </section>
      </shelf>
    </collectionList>
  </stackTemplate>
</document>`
}
