var Template = function() { return `<document>
  <menuBarTemplate>
    <menuBar>
      <menuItem template="${this.BASEURL}home" presentation="menuBarItemPresenter">
        <title>Featured</title>
      </menuItem>
      <menuItem template="${this.BASEURL}series" presentation="menuBarItemPresenter">
        <title>Series</title>
      </menuItem>
      <menuItem template="${this.BASEURL}playlist/100000002829479" presentation="menuBarItemPresenter">
        <title>Today's News</title>
      </menuItem>
      <menuItem template="${this.BASEURL}playlist/100000002500298" presentation="menuBarItemPresenter">
        <title>Conflict In Syria</title>
      </menuItem>
      <menuItem template="${this.BASEURL}my-list" presentation="menuBarItemPresenter">
        <title>Hi maxwell.dasilva</title>
      </menuItem>
    </menuBar>
  </menuBarTemplate>
</document>`
}