var Template = function() { return `<document>
  <menuBarTemplate>
    <menuBar>
      <menuItem template="${this.BASEURL}home" presentation="menuBarItemPresenter">
        <title>Featured</title>
      </menuItem>
      <menuItem template="${this.BASEURL}td" presentation="menuBarItemPresenter">
        <title>Times Documentaries</title>
      </menuItem>
      <menuItem template="${this.BASEURL}home" presentation="menuBarItemPresenter">
        <title>Conflict In Syria</title>
      </menuItem>
      <menuItem template="${this.BASEURL}home" presentation="menuBarItemPresenter">
        <title>Search</title>
      </menuItem>
    </menuBar>
  </menuBarTemplate>
</document>`
}