var Template = function() { return `<document>
  <menuBarTemplate>
    <menuBar>
      <menuItem template="${this.BASEURL}home" presentation="menuBarItemPresenter">
        <title>Home</title>
      </menuItem>
      <menuItem template="${this.BASEURL}home" presentation="menuBarItemPresenter">
        <title>Search</title>
      </menuItem>
    </menuBar>
  </menuBarTemplate>
</document>`
}