var Template = function() { return `<document>
  <head>
    <style>
    .showTextOnHighlight {
      tv-text-highlight-style: show-on-highlight;
    }
    .whiteBadge {
      tv-tint-color: rgb(255, 255, 255);
    }
    .shelfLayout {
      padding: 20 90 50;
    }
    .heroSize {
      width:854px; height:480px;
    }
    .subt-size{
      font-size:35px;

    }
    </style>
  </head>
  <productTemplate theme="light">
    <banner>
      <heroImg class="heroSize" src="${this.NYTStaticBaseURL}{{getImage .VideoDetail.Images 5}}" />
      <stack>
        <title>{{.VideoDetail.Headline}}</title>
        <subtitle class="subt-size">{{.VideoDetail.Byline}}</subtitle>
        <description  allowsZooming="true" >{{.VideoDetail.Summary}}</description>
        <row>
          <buttonLockup videoURL="{{getVideoURL .VideoDetail.Renditions}}" videoTitle="{{.VideoDetail.Headline}}" videoSubtitle="{{.VideoDetail.Byline}}" videoImage="${this.NYTStaticBaseURL}{{getImage .VideoDetail.Images 5}}" videoDescription="{{.VideoDetail.Summary}}" >
            <badge src="resource://button-play" class="whiteBadge" />
          </buttonLockup>
        </row>
      </stack>
    </banner>
    <shelf>
      <header>
        <title>{{.VideoDetail.Playlist.Display_name}}</title>
      </header>
      <section>
        {{ range $key, $element := .Playlist.Videos }}
        <lockup template="${this.BASEURL}video/{{$element.Id}}/{{$element.Playlist.Id}}">
          <img src="${this.NYTStaticBaseURL}{{getImage $element.Images 2}}" width="320" height="180" />
          <title>{{$element.Headline}}</title>
        </lockup>
        {{ end }}
      </section>
    </shelf>
  </productTemplate>
</document>`
}
